<% include ../header %>
<h1>Add new</h1>
<form method="post" action="/posts/create">
title<input type="text" name="title">
<p>
  body
<input type="text" name="body">
<input type="submit" value="add!">
</form>

<p><a href="/">Go Back</a></p>
<% include ../footer %>
